[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = ">=3.4"
python-dotenv = "*"
aiofiles = "*"
gdown = "*"
yadisk = "*"
torch = "*"
openai-whisper = "*"
imageio_ffmpeg = "*"
yandex_cloud_ml_sdk = "*"

[dev-packages]

[requires]
python_version = "3.10"